body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0A192F;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .event-report-container {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .logo {
    max-height: 50px;
  }
  
  /* Sidebar */
  .sidebar {
    width: 225px;
    background-color: #1F2937;
    color: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
  }
  
  .sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .sidebar-divider {
    border-top: 1px solid #2A2E3B;
    margin: 15px 0;
  }
  
  /* Main Content */
  .main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  /* Header y selector de eventos */
  .report-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .report-header h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  .event-selection select {
    padding: 10px;
    background-color: #1F2937;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
  }
  
  /* Reporte */
  .report-info {
    background-color: #1F2937;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .summary-table table,
  .discount-section table,
  .sales-mode-section table,
  .attendance-section table {
    width: 100%;
    border-collapse: collapse;
  }
  
  
  .summary-table th, .summary-table td,
  .discount-section th, .discount-section td,
  .sales-mode-section th, .sales-mode-section td,
  .attendance-section th, .attendance-section td {
    padding: 8px;
    border: 1px solid #2A2E3B;
    text-align: center;
  }
  
  .summary-table th,
  .discount-section th,
  .sales-mode-section th,
  .attendance-section th {
    background-color: #2A2E3B;
  }
  
  
  /* Descarga */
  .download-section {
    text-align: right;
    margin-top: 20px;
  }
  
  .download-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .download-button:hover {
    background-color: #0056b3;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .event-report-container {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      height: auto;
    }
  
    .main-content {
      padding: 10px;
    }
  
    .report-header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .report-header h1 {
      font-size: 1.5rem;
    }
  
    .event-selection {
      margin-top: 10px;
    }
  }
  